 <section id="about" class="w-full bg-white p-4 md:p-12 flex flex-col gap-4">
    <section class="md:max-w-4xl mx-auto grid grid-cols-1 gap-4">
      <h2 class="text-4xl font-medium text-big-stone-700 mb-4 flex flex-1">Alicerce</h2>

      <div class="flex flex-1 flex-col gap-4">
        <p class="text-xl font-light text-waterloo-600">
          Só pra entender melhor: hoje seus orçamentos são feitos como?
        </p>
        <p class="text-xl font-light text-waterloo-600">
          A maioria das obras perde dinheiro não por falta de esforço — mas por falta de controle. O
          Alicerce nasce para digitalizar o canteiro, centralizar decisões e gerar previsibilidade.
        </p>
        <p class="text-xl font-light text-waterloo-600">
          É por isso que o tempo é o ativo mais valioso da sua empresa — e o Alicerce valoriza isso.
        </p>
      </div>
    </section>
  </section>