  <section id="cta" class="w-full flex flex-col p-4 md:p-12 items-center bg-white px-6">
    <section class="relative overflow-hidden py-20 px-6 md:px-10">
      <div class="relative max-w-6xl mx-auto text-center">
        <h2 class="title font-poppins mb-6">
          Economize <span class="text-royal-blue-600">horas</span> de trabalho e transforme tempo em
          lucro.
        </h2>

        <p class="text-xl font-light text-waterloo-600 mb-5">
          Com o <strong>Alicerce</strong>, seus orçamentos deixam de ser uma planilha demorada e se
          tornam uma ferramenta estratégica.
          <br class="hidden md:block" />
          <span class="text-royal-blue-600">Reduza erros</span>,
          <span class="text-purple-600">acelere entregas</span> e
          <span class="text-burnt-sienna-600">ganhe vantagem competitiva</span> agora mesmo.
        </p>

        <div class="flex flex-col sm:flex-row justify-center gap-4">
          <button
          (click)="openBetaAccess()"
            class="px-12 py-2 bg-royal-blue-600 text-white rounded-full shadow-lg hover:bg-royal-blue-700 transition-all text-lg"
          >
            Ver em ação
          </button>
        </div>
      </div>
    </section>
  </section>