// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}


/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;

  &::-webkit-scrollbar-track {
    background-color: var(--big-stone-50);
    padding: 0 0.2rem;
  }
  &::-webkit-scrollbar {
    width: 6px;
    padding: 0 0.2rem;
    background: #f4f4f4;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-royal-blue-600;
    border-radius: 10px;
    margin: 0.3rem;
  }
}

.without-scroll {
  &::-webkit-scrollbar-track {
    background-color: transparent;
    padding: 0;
  }
  &::-webkit-scrollbar {
    width: 0;
    padding: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    margin: 0;
  }
}

.title-xl {
  font-family: 'Poppins', sans-serif;
  @apply text-5xl;
}

.title {
  font-family: 'Poppins', sans-serif;
  @apply text-4xl;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  @apply text-lg;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.animate-height {
  transition: height 0.4s ease-in-out;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
